/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.2002)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
CREATE SCHEMA [Recht]
GO
/****** Object:  Table [Recht].[__MigrationHistory]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_Recht.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Aanklagers]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Aanklagers](
	[AanklagerID] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](max) NULL,
	[Achternaam] [nvarchar](max) NULL,
	[Gemeente] [nvarchar](max) NULL,
	[Straat] [nvarchar](max) NULL,
	[HuisNr] [nvarchar](max) NULL,
	[Postcode] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Aanklagers] PRIMARY KEY CLUSTERED 
(
	[AanklagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Beklaagdes]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Beklaagdes](
	[BeklaagdeID] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](max) NULL,
	[Achternaam] [nvarchar](max) NULL,
	[Gemeente] [nvarchar](max) NULL,
	[Straat] [nvarchar](max) NULL,
	[HuisNr] [nvarchar](max) NULL,
	[Postcode] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Beklaagdes] PRIMARY KEY CLUSTERED 
(
	[BeklaagdeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Juryleden]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Juryleden](
	[JurylidID] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](max) NULL,
	[Achternaam] [nvarchar](max) NULL,
	[Opgeroepen] [bit] NOT NULL,
 CONSTRAINT [PK_Recht.Juryleden] PRIMARY KEY CLUSTERED 
(
	[JurylidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Jurys]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Jurys](
	[JuryID] [int] IDENTITY(1,1) NOT NULL,
	[JurylidID] [int] NOT NULL,
	[RechtzaakID] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Jurys] PRIMARY KEY CLUSTERED 
(
	[JuryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Rechtbanken]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Rechtbanken](
	[RechtbankID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](max) NULL,
	[Gemeente] [nvarchar](max) NULL,
	[Straat] [nvarchar](max) NULL,
	[HuisNr] [nvarchar](max) NULL,
	[Postcode] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Rechtbanken] PRIMARY KEY CLUSTERED 
(
	[RechtbankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Rechter]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Rechter](
	[RechterID] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [nvarchar](max) NULL,
	[Achternaam] [nvarchar](max) NULL,
	[RechtbankID] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Rechter] PRIMARY KEY CLUSTERED 
(
	[RechterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recht].[RechtzaakAanklager]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[RechtzaakAanklager](
	[RechtzaakAanklagerID] [int] IDENTITY(1,1) NOT NULL,
	[AanklagerID] [int] NOT NULL,
	[RechtzaakID] [int] NOT NULL,
 CONSTRAINT [PK_Recht.RechtzaakAanklager] PRIMARY KEY CLUSTERED 
(
	[RechtzaakAanklagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Recht].[RechtzaakBeklaagde]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[RechtzaakBeklaagde](
	[RechtzaakBeklaagdeID] [int] IDENTITY(1,1) NOT NULL,
	[BeklaagdeID] [int] NOT NULL,
	[RechtzaakID] [int] NOT NULL,
 CONSTRAINT [PK_Recht.RechtzaakBeklaagde] PRIMARY KEY CLUSTERED 
(
	[RechtzaakBeklaagdeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Recht].[Rechtzaken]    Script Date: 31/12/2020 2:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recht].[Rechtzaken](
	[RechtzaakID] [int] IDENTITY(1,1) NOT NULL,
	[Moment] [datetime] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[RechtbankID] [int] NOT NULL,
	[OmschrijvingKlacht] [nvarchar](max) NULL,
	[RechterID] [int] NOT NULL,
 CONSTRAINT [PK_Recht.Rechtzaken] PRIMARY KEY CLUSTERED 
(
	[RechtzaakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Recht].[Aanklagers] ON 

INSERT [Recht].[Aanklagers] ([AanklagerID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (1, N'Danny', N'Ronalds', N'Geel', N'Acaciastraat', N'5', 2440)
INSERT [Recht].[Aanklagers] ([AanklagerID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (2, N'Klever', N'Vankaster', N'Berlaar', N'Marialaan', N'12', 2590)
INSERT [Recht].[Aanklagers] ([AanklagerID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (3, N'be', N'eee', N'eee', N'ee', N'ee', 2200)
SET IDENTITY_INSERT [Recht].[Aanklagers] OFF
GO
SET IDENTITY_INSERT [Recht].[Beklaagdes] ON 

INSERT [Recht].[Beklaagdes] ([BeklaagdeID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (1, N'Darco', N'Darius', N'Berlaar', N'Schuttershof', N'3', 2590)
INSERT [Recht].[Beklaagdes] ([BeklaagdeID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (2, N'Maria', N'Van Denver', N'Geel', N'Acaciastraat', N'5', 2440)
INSERT [Recht].[Beklaagdes] ([BeklaagdeID], [Voornaam], [Achternaam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (4, N'jantje', N'de smet', N'geel', N'dee²', N'eeee', 2440)
SET IDENTITY_INSERT [Recht].[Beklaagdes] OFF
GO
SET IDENTITY_INSERT [Recht].[Juryleden] ON 

INSERT [Recht].[Juryleden] ([JurylidID], [Voornaam], [Achternaam], [Opgeroepen]) VALUES (1, N'Francesca', N'Liekens', 1)
INSERT [Recht].[Juryleden] ([JurylidID], [Voornaam], [Achternaam], [Opgeroepen]) VALUES (2, N'Mark', N'Liekens', 0)
INSERT [Recht].[Juryleden] ([JurylidID], [Voornaam], [Achternaam], [Opgeroepen]) VALUES (3, N'Daniel', N'Verbeek', 0)
SET IDENTITY_INSERT [Recht].[Juryleden] OFF
GO
SET IDENTITY_INSERT [Recht].[Jurys] ON 

INSERT [Recht].[Jurys] ([JuryID], [JurylidID], [RechtzaakID]) VALUES (1086, 11, 1017)
INSERT [Recht].[Jurys] ([JuryID], [JurylidID], [RechtzaakID]) VALUES (1082, 17, 1017)
INSERT [Recht].[Jurys] ([JuryID], [JurylidID], [RechtzaakID]) VALUES (1083, 22, 1017)
SET IDENTITY_INSERT [Recht].[Jurys] OFF
GO
SET IDENTITY_INSERT [Recht].[Rechtbanken] ON 

INSERT [Recht].[Rechtbanken] ([RechtbankID], [Naam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (1, N'Thomas More', N'Geel', N'Kleinhoefstraat', N'4', 2440)
INSERT [Recht].[Rechtbanken] ([RechtbankID], [Naam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (1002, N'Radio GAGA', N'Sint Katelijne', N'Keyserlei', N'22', 2200)
INSERT [Recht].[Rechtbanken] ([RechtbankID], [Naam], [Gemeente], [Straat], [HuisNr], [Postcode]) VALUES (1003, N'Thomas More - Leuven', N'Leuven', N'Keyserlei', N'22', 2200)
SET IDENTITY_INSERT [Recht].[Rechtbanken] OFF
GO
SET IDENTITY_INSERT [Recht].[Rechter] ON 

INSERT [Recht].[Rechter] ([RechterID], [Voornaam], [Achternaam], [RechtbankID]) VALUES (1, N'Jos', N'Peeters', 1)
INSERT [Recht].[Rechter] ([RechterID], [Voornaam], [Achternaam], [RechtbankID]) VALUES (1003, N'Caro', N'Wuyts', 1)
INSERT [Recht].[Rechter] ([RechterID], [Voornaam], [Achternaam], [RechtbankID]) VALUES (1004, N'Jeroen', N'Mertens', 1003)
SET IDENTITY_INSERT [Recht].[Rechter] OFF
GO
SET IDENTITY_INSERT [Recht].[RechtzaakAanklager] ON 

INSERT [Recht].[RechtzaakAanklager] ([RechtzaakAanklagerID], [AanklagerID], [RechtzaakID]) VALUES (1022, 5, 1017)
SET IDENTITY_INSERT [Recht].[RechtzaakAanklager] OFF
GO
SET IDENTITY_INSERT [Recht].[RechtzaakBeklaagde] ON 

INSERT [Recht].[RechtzaakBeklaagde] ([RechtzaakBeklaagdeID], [BeklaagdeID], [RechtzaakID]) VALUES (1025, 1020, 1017)
INSERT [Recht].[RechtzaakBeklaagde] ([RechtzaakBeklaagdeID], [BeklaagdeID], [RechtzaakID]) VALUES (1026, 1021, 1017)
SET IDENTITY_INSERT [Recht].[RechtzaakBeklaagde] OFF
GO
SET IDENTITY_INSERT [Recht].[Rechtzaken] ON 

INSERT [Recht].[Rechtzaken] ([RechtzaakID], [Moment], [Code], [RechtbankID], [OmschrijvingKlacht], [RechterID]) VALUES (1017, CAST(N'2021-01-01T00:00:00.000' AS DateTime), N'UM9R9G9', 1003, N'Moord op sonja', 1004)
SET IDENTITY_INSERT [Recht].[Rechtzaken] OFF
GO
ALTER TABLE [Recht].[Jurys]  WITH CHECK ADD  CONSTRAINT [FK_Recht.Jurys_Recht.Juryleden_JurylidID] FOREIGN KEY([JurylidID])
REFERENCES [Recht].[Juryleden] ([JurylidID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[Jurys] CHECK CONSTRAINT [FK_Recht.Jurys_Recht.Juryleden_JurylidID]
GO
ALTER TABLE [Recht].[Jurys]  WITH CHECK ADD  CONSTRAINT [FK_Recht.Jurys_Recht.Rechtzaken_RechtzaakID] FOREIGN KEY([RechtzaakID])
REFERENCES [Recht].[Rechtzaken] ([RechtzaakID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[Jurys] CHECK CONSTRAINT [FK_Recht.Jurys_Recht.Rechtzaken_RechtzaakID]
GO
ALTER TABLE [Recht].[Rechter]  WITH CHECK ADD  CONSTRAINT [FK_Recht.Rechter_Recht.Rechtbanken_RechtbankID] FOREIGN KEY([RechtbankID])
REFERENCES [Recht].[Rechtbanken] ([RechtbankID])
GO
ALTER TABLE [Recht].[Rechter] CHECK CONSTRAINT [FK_Recht.Rechter_Recht.Rechtbanken_RechtbankID]
GO
ALTER TABLE [Recht].[RechtzaakAanklager]  WITH CHECK ADD  CONSTRAINT [FK_Recht.RechtzaakAanklager_Recht.Aanklagers_AanklagerID] FOREIGN KEY([AanklagerID])
REFERENCES [Recht].[Aanklagers] ([AanklagerID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[RechtzaakAanklager] CHECK CONSTRAINT [FK_Recht.RechtzaakAanklager_Recht.Aanklagers_AanklagerID]
GO
ALTER TABLE [Recht].[RechtzaakAanklager]  WITH CHECK ADD  CONSTRAINT [FK_Recht.RechtzaakAanklager_Recht.Rechtzaken_RechtzaakID] FOREIGN KEY([RechtzaakID])
REFERENCES [Recht].[Rechtzaken] ([RechtzaakID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[RechtzaakAanklager] CHECK CONSTRAINT [FK_Recht.RechtzaakAanklager_Recht.Rechtzaken_RechtzaakID]
GO
ALTER TABLE [Recht].[RechtzaakBeklaagde]  WITH CHECK ADD  CONSTRAINT [FK_Recht.RechtzaakBeklaagde_Recht.Beklaagdes_BeklaagdeID] FOREIGN KEY([BeklaagdeID])
REFERENCES [Recht].[Beklaagdes] ([BeklaagdeID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[RechtzaakBeklaagde] CHECK CONSTRAINT [FK_Recht.RechtzaakBeklaagde_Recht.Beklaagdes_BeklaagdeID]
GO
ALTER TABLE [Recht].[RechtzaakBeklaagde]  WITH CHECK ADD  CONSTRAINT [FK_Recht.RechtzaakBeklaagde_Recht.Rechtzaken_RechtzaakID] FOREIGN KEY([RechtzaakID])
REFERENCES [Recht].[Rechtzaken] ([RechtzaakID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[RechtzaakBeklaagde] CHECK CONSTRAINT [FK_Recht.RechtzaakBeklaagde_Recht.Rechtzaken_RechtzaakID]
GO
ALTER TABLE [Recht].[Rechtzaken]  WITH CHECK ADD  CONSTRAINT [FK_Recht.Rechtzaken_Recht.Rechtbanken_RechtbankID] FOREIGN KEY([RechtbankID])
REFERENCES [Recht].[Rechtbanken] ([RechtbankID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[Rechtzaken] CHECK CONSTRAINT [FK_Recht.Rechtzaken_Recht.Rechtbanken_RechtbankID]
GO
ALTER TABLE [Recht].[Rechtzaken]  WITH CHECK ADD  CONSTRAINT [FK_Recht.Rechtzaken_Recht.Rechter_RechterID] FOREIGN KEY([RechterID])
REFERENCES [Recht].[Rechter] ([RechterID])
ON DELETE CASCADE
GO
ALTER TABLE [Recht].[Rechtzaken] CHECK CONSTRAINT [FK_Recht.Rechtzaken_Recht.Rechter_RechterID]
GO
